:root:not(.light) {
   --body-bg: #242424;
   --editor-color: #202022;
   --editor-line-color: #a8a8a8;
   --body-color: #d3d3d3;
   --card-color: #422369;
   --link-color: #8348d6; 
   --icon-color: #ffffff;
}
 
:root.light {
   --body-bg: #FFFFFF;
   --editor-color: #FFFFFF;
   --editor-line-color: #000000;
   --body-color: #000000;
   --card-color: #e8e6fa;
   --link-color: #9e88f9;
   --icon-color: #000000;
}

.theme-icon {
   width: 2.5rem;
   height: 2.5rem;
   box-shadow: var(--box-shadow);
   border-width: 1px;
   border-style: solid;
   border-radius: 0.5rem;
   border-color: rgba(226, 232, 240, 0);
   background-color: var(--primary-color);
   display: flex;
   justify-content: center;
   align-items: center;
   cursor: pointer;
   font-size: 1em;
}
 
:root:not(.light) .theme-icon .sun {
   display: none;
}
 
:root:not(.light) .theme-icon .moon {
   display: inline-block;
   color: white;
}
 
:root.light .theme-icon .sun {
   display: inline-block;
}
 
:root.light .theme-icon .moon {
   display: none;
}

html{
   display: flex;
   box-sizing:border-box;
   width: 100%;
   padding: 0px max(50vw - 450px, 0px);
   margin: 0 auto;
}

body {
   background: var(--body-bg);
   color: var(--body-color);
   padding: 0px 20px 0px 20px;
}

body, * {
   font-family: 'Open Sans', sans-serif;
   font-weight: 530;
   line-height: 1.6em;
}


a, a:hover, a:visited{ 
   color: var(--link-color); 
   font-weight: 560;
   text-decoration: none;
}

a:hover {
   text-decoration: underline;
}

p, li, ul, ol {
   font-size: 14px;
}

h3, ul {
   margin: 1px;
}

.sun > path, .moon > path {
   fill: var(--icon-color);
}

.title-wrapper {
   display: flex;
   align-items: center;
   margin: 0;
   padding: 0;
   justify-content: space-between;
}

.title-wrapper > * {
   margin-bottom: 1.1em;
}

.title{
   font-size: 2em;
   font-weight: 580;
   text-align: left;
}

.card {
   background-color: var(--card-color);
   border-radius: 5px;
   box-shadow: 0 2px 5px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.19);
   padding: 5px;
   margin: 40px 0px;
   justify-content: center;
}

.card > * {
   margin: 5px;
}

.card-header {
   display: flex;
   justify-content: space-between;
   margin: 20px 10px;
}

.editor-label {
   align-self: center;
   padding-left: 10px;
}

.compile-button {
   background-color: var(--link-color);
   display: flex;
   align-self: center;
   color: white;
   border: none;
   font-size: 30px;
   height: 40px;
   width: 40px;
   min-width: 40px;
   margin: 0px 5px;
   box-shadow: 0 2px 4px rgba(0,0,0,0.4);
   cursor: pointer;
   transition: all 0.1s ease;
   justify-content: center;
   border-radius: 70%;
   cursor: pointer;
}

.compile-button > svg {
   display: flex;
   align-self: center;
   padding-left: 3px;
   width: 25px;
   height: 25px;
}

.compile-button > svg > path {
   fill: var(--editor-color);
}

.compile-button:hover {
   filter: brightness(105%);
   box-shadow: 0 2px 5px rgba(0,0,0,0.4);
   transform: translateY(-1px);
   cursor: pointer;
}

.compile-button:active {
   filter: brightness(95%);
   box-shadow: 0 0 2px rgba(0,0,0,0.4);
   transform: translateY(2px);
}

.scroll::-webkit-scrollbar {
   display: none;
 }

.input-group {
   display: block;
   margin: 10px;
   border-radius: 10px;
}

.input-group > * {
   margin: 20px 5px;
}

.line-counter, .editor {
   font-family: monospace;
   margin: 0;
   padding: 10px 0;
   border-radius: 0;
   resize: none;
   font-size: 14px;
   line-height: 1.2;
   outline: none;
   -moz-box-sizing: border-box;
   -webkit-box-sizing: border-box;
   box-sizing: border-box;
   box-shadow: 0 2px 3px 0 rgba(0,0,0,0.2),0 4px 20px 0 rgba(0,0,0,0.23);
   tab-size: 2em;
}

.line-counter:focus-visible,
.editor:focus-visible {
    outline:none;
}

.line-counter {
   display: flex;
   border-color: transparent;
   overflow-y: hidden;
   text-align: right;
   box-shadow: none;
   position: absolute;
   width: 2.5rem;
   color: var(--editor-line-color);
   border-color: var(--editor-color);
   background-color: var(--editor-color);
   border-radius: 5px;
}

.editor {
   padding-left: calc(3.5rem + 5px);
   width:100%;
   background-color: var(--editor-color);
   border-color: var(--editor-color);
   color: var(--body-color);
   border-radius: 5px;
}

.input {
   height: 120px;
}

.output {
   height: 40px;
}